[submodule "shared/radicale"]
        path = shared/radicale
        url = git://github.com/Kozea/Radicale.git
[submodule "shared/lib/radicale"]
	path = shared/lib/radicale
	url = git://github.com/Kozea/Radicale.git
[submodule "shared/lib/bottle"]
	path = shared/lib/bottle
	url = git://github.com/bottlepy/bottle.git
